<app-sticker-search></app-sticker-search>

<h2>Add Sticker</h2>
<div>
  <label>Content:</label>
  <app-ngx-editor id="new-sticker" height="100px" minHeight="100px" [placeholder]="'Enter text here...'" [(ngModel)]="newSticker" [spellcheck]="true"></app-ngx-editor>
  <button (click)="add()">Add</button>
</div>

<h2>Your Stickers</h2>
<ul class="stickers">
  <li *ngFor="let sticker of stickers">
    <a routerLink="/detail/{{sticker.id}}">
      <div [innerHTML]="sticker.content"></div>
      <div>
        <br/>
        <em>Created at: {{sticker.createdAt | date: 'yyyy-MM-dd hh:mm:ss'}}</em>
        <br/>
        <em>Modified at: {{sticker.modifiedAt? (sticker.modifiedAt | date: 'yyyy-MM-dd hh:mm:ss') : 'Not modified'}}</em>
      </div>
    </a>
    <button class="delete" title="delete sticker"
      (click)="openModal(template, sticker)">x</button>
  </li>
</ul>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Do you really want to delete the sticker?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>