<h2>Your Stickers</h2>

<app-sticker-search></app-sticker-search>

<div>
  <label>Add sticker:
    <input #stickerName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(stickerName.value); stickerName.value=''">
    Add
  </button>
</div>

<ul class="stickers">
  <li *ngFor="let sticker of stickers">
    <a routerLink="/detail/{{sticker.id}}">
      <span class="badge">{{sticker.id}}</span> {{sticker.name}}
    </a>
    <button class="delete" title="delete sticker"
      (click)="delete(sticker)">x</button>
  </li>
</ul>