<h2>Your Stickers</h2>

<app-sticker-search></app-sticker-search>

<div>
  <label>Add sticker:
    <input #stickerName />
  </label>



  <button (click)="add(stickerName.value); stickerName.value=''">
    Add
  </button>
</div>

<ul class="stickers">
  <li *ngFor="let sticker of stickers">
    <a routerLink="/detail/{{sticker.id}}">
      <span class="badge">
        {{sticker.id}}
      </span>
      {{sticker.name}}
      <p>
        <br/>
        <em>Created at: {{sticker.createdAt | date: 'yyyy-MM-dd hh:mm:ss'}}</em>
        <br/>
        <em>Modified at: {{sticker.modifiedAt? (sticker.modifiedAt | date: 'yyyy-MM-dd hh:mm:ss') : 'Not modified'}}</em>
      </p>
    </a>
    <button class="delete" title="delete sticker"
      (click)="delete(sticker)">x</button>
  </li>
</ul>