/* Application-wide Styles */
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    margin: 2em;
  }
  body, input[type="text"], button {
    color: #888;
    font-family: Cambria, Georgia;
  }
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }

modal-container
{
    top: 0%;
    left: 30%;
    width: 40%;
    height: 7em;
    position: fixed;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 10px 10px;
    background-color: white;
}

modal-container button {
  display: inline-flex;
  margin: 0 5px;
}

button {
  padding: 10px 20px !important;
}